
table {
  width: 100%;

  th, td {
    border: 1px solid black;
    padding: 15px;
  }
}

.remove {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
}

.button-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
